/* 文章页相关配置 */
@layer components {

    /* custom home post list */
    #article-list li::before {
        content: '\0BB \020';
    }

    /* custom post page img */
    .prose img {
        @apply mx-auto mb-4 rounded shadow-md;
    }

    .prose a {
        text-decoration: none;
        color: #0078E7;
        font-weight: 500;
    }

    .prose a:hover {
        border-bottom: solid 1px #0078E7;
    }

    .prose h1,
    h2,
    h3,
    h4 {
        position: relative;
    }

    .prose h1::before,
    h2::before,
    h3::before,
    h4::before {
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        bottom: 0px;
        left: -32px;
        background-color: #f27c8d;
    }

    .prose blockquote {
        font-style: normal;
        border-left: 3px solid #333333;
        background-color: #f7f7f7;
        padding: 9px 9px 9px 15px;
    }

    .prose blockquote p:first-child::before,
    .prose blockquote p:last-child::after {
        content: "";
    }

    .prose blockquote p{
        padding: 0;
        margin: 0;
        line-height: 2;
        text-indent: 2em;
    }
}